:root{
    --green: #25c389;
    --yellow: #ffb901; 
    --red: #de6262;
    --blue-light: #1691bd;
    --blue-dark: #166ba2;  
}

.green{
    background-color: var(--green);
}

.yellow{
    background-color: var(--yellow);
}

.red{
    background-color: var(--red);
}

.light-blue{
    background-color: var(--blue-light);
}

.light-blue-text{
    color: var(--blue-light);
}

.dark-blue{
    background-color: var(--blue-dark);
}

body{
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-weight: 400;

}

h2{
    font-weight: 400;

}

h3{

    font-weight: 400;
}

h4{

    font-weight: 400;
}

h5{
    font-size: 12px;
}

p{
    font-size: 10px;

    color: grey;
}

header{
    width: 100vw;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:60%;
    height: 100%;
}

.logo{
    display: flex;

    width: 200px;
    align-items: flex-end;
    justify-content: center
}

.nav{
    display: flex;
    height: 100%;
}

.nav-link{
    height: 100%;
    display: flex;
    width: 125px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.icon{
    background-color: rgba(255, 255, 255, 0.3);
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

.nav-text{
    width: 100%;

 
}

.carousel{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: grey;

}

.welcome{

    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.intro{

    width: 60%;
    height: 100%;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-align: center;

}




.section-container{


    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.heading-container{
    text-align: center;
}

.card-container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

}



.card{
    
    max-width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
    height: 250px;
}

.things-image{
    min-height: 50px;
    min-width: 50px;
    margin: 10px 10px;

}

.event-card{
    background: grey;
    width: 220px;
    height: 250px;
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
}


.event-date{
    width: 75px;
    height: 50px;
 

}

.event-details{

    width: 100%;
    height: 50px;

}

.project-card{
    background: grey;
    width: 300px;
    height: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
}

.project-details{


    width: 100%;
    height: 50px;

}


.accordion-container{
    background: grey;
    width: 50%;
    height: 250px;
    display: flex;
    align-items: left;
    justify-content: flex-star;
    flex-direction: column;
    text-align: left;
    margin: 10px auto;

}

.accordion-tab{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--blue-light);
}

.expand-accordion{
    width: 50px;
    background: var(--blue-dark);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.accordion-text{
    background: white;
    height: 100%;
}

.tab-container{
    background: grey;
    width: 50%;
    height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
    
}

.tab-top{
    width: 100%;
    display: flex;

}

.tab{
    width: 100px;
    height: 50px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tab-content{
    width: 100%;
    height: 100%;
    background: white;
}


.sponsor-container{
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

}

.sponsor-card{
    background: grey;
    width: 150px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    margin: 10px 0 10px 0;
}


footer{
    height: 150px;
    background: grey;
    width: 100vw;
}

@media screen and (max-width: 39.9375em) {

    h1{
        font-weight: 400;
        font-size: 18px;    
    }
    
    h2{
        font-weight: 400;
        font-size: 14px; 
    
    }
    
    h3{
    
        font-weight: 400;
    }
    
    h4{
    
        font-weight: 400;
    }
    
    h5{
        font-size: 7px;
        margin: none;
    }
    
    p{
        font-size: 6px;

        
    }

    .card{
    
        max-width: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 10px auto;
        height: 100px;
    }

    .nav{
        display: none;
    }

    .mobile-nav{
        background: var(--blue-light);
        min-width: 25px;
        min-height: 25px;
    }

    .carousel{
        display: none;
    }


    .card{
        flex-direction: row;
        min-width: 100%;
        align-items: flex-start;
    }

    .event-card{
     
        min-width: 100%;
    }

    .project-card{
     
        min-width: 100%;
    }

    .things-text{
        text-align: left;


        width: 100%;
      
    }

    .things-image{
        min-width: 25px;
        min-height: 25px;
    }

    .accordion-container{
        width: 100%;
    }

    .tab-container{
        width: 100%;
    }

    .sponsor-container{
display: none;
    
    }



}